@import "tailwindcss";

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
/* globals.css */
@media (min-width: 1024px) {
  .admin-main {
    padding-left: var(--sidebar-width, 16rem); /* default 16rem (w-64) */
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}